<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="#" [routerLink]="['/home']">João André Simões | Homepage</a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow me on Linkedin" data-placement="bottom" href="https://www.linkedin.com/in/joão-simões-bb7298100" target="_blank">
                        <i class="fa fa-linkedin"></i>
                        <p class="d-lg-none">Linkedin</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow me on GitHub" data-placement="bottom" href="https://github.com/jarpsimoes" target="_blank">
                        <i class="fa fa-github"></i>
                        <p class="d-lg-none">GitHub</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/home']" fragment="laboratories" class="nav-link"><i class="nc-icon nc-laptop"></i> Laboratories</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/home']" fragment="repositories" class="nav-link"><i class="nc-icon nc-app"></i> Repositories</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/personal-info']" class="nav-link"><i class="nc-icon nc-circle-10"></i> About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
